.Dashboard {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.state {
    position: absolute;
    left: 32px;
    top: 72px;
}

.mantrap {
    /*background-color: #e8e8e8;*/
    height: 50%;
    width: 50%;
    position: absolute;
    border-radius: 32px;
    border: 5px solid #6e6e6e;
}

.mantrap.scanning {
    animation: cam 2s infinite;
}

.mantrap.alert {
    animation: alert 2s infinite;
}

.mantrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/logo.png") no-repeat center;
    background-size: 50%;
    opacity: 0.1;
    z-index: -1;
}

.wall {
    background-color: #6e6e6e;
    width: 200%;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: -50%;
}

.doormask-1 {
    width: 20%;
    height: 10px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.doormask-2 {
    width: 20%;
    height: 10px;
    background-color: white;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.door-1 {
    width: 20%;
    height: 10px;
    background-color: #6e6e6e;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 100% 10px;
    transform: translate(-50%, -100%) rotate(0);
    transition: transform 1s;
    border-radius: 2px 2px 0 0;
}

.door-1.open {
    transform: translate(-50%, -100%) rotate(90deg);
}

.door-1.close {
    transition: transform 2s 1s;
}

.door-2 {
    width: 20%;
    height: 10px;
    background-color: #6e6e6e;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: 100% 5px;
    transform: translate(-50%, 100%);
    transition: transform 1s;
    border-radius: 0 0 2px 2px;
}

.door-2.open {
    transform: translate(-50%, 100%) rotate(90deg);
}

.door-2.close {
    transition: transform 1s 1s;
}

.sensor-1 {
    width: 5%;
    height: 15px;
    background-color: #6e6e6e;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 30%;
    transform: translate(-50%, 0);
    border-radius: 0 0 4px 4px;
}

.sensor-1.verify-face {
    background-color: #00a640FF;
}

.sensor-1.verify-voice {
    background-color: #4B00A6FF;
}

.sensor-2 {
    width: 5%;
    height: 20px;
    background-color: #6e6e6e;
    z-index: 100;
    position: absolute;
    bottom: -20px;
    left: 30%;
    transform: translate(-50%, 0);
    border-radius: 0 0 4px 4px;
}

@keyframes cam {
    0% {
        background-color: rgba(0, 166, 64, 0.7);
    }
    50% {
        background-color: rgba(0, 166, 64, 0.3);
    }
    100% {
        background-color: rgba(0, 166, 64, 0.7);
    }
}

@keyframes alert {
    0% {
        background-color: rgba(166, 0, 0, 0.7);
    }
    50% {
        background-color: rgba(166, 0, 0, 0.3);
    }
    100% {
        background-color: rgba(166, 0, 0, 0.7);
    }
}

.sensor-2.waiting {
    animation: cam 2s infinite;
}

.sensor-2.verify-face {
    background-color: #00a640;
}

.person {
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3e7bef;
    bottom: -40%;
    left: 30%;
    position: absolute;
    transition: transform 1s, bottom 1s, top 1s, left 1s, opacity 1s;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 101;
    opacity: 100%;
}

.person.hidden {
    opacity: 0;
}

.person.verify {
    left: 30%;
    bottom: -15%;
}

.person.enter {
    transition: left 0.5s, bottom 2s;
    left: 50%;
    bottom: 50%;
}

.person.verify-2 {
    transition: left 0.5s, bottom 2s;
    left: 30%;
    bottom: 85%;
}

.person.exit {
    transition: left 0.5s, bottom 2s, opacity 2s;
    left: 50%;
    bottom: 125%;
    opacity: 0;
}